'use strict';

module.exports = {
    a1_api_key: 'your sell ETH account api key',
    a2_api_key: 'your buy ETH　account api key',
    token: 'your token (received when logging in to cobinhood.com)'
};